/* 기본값 */
.TarotGirl,
.SpeechBubble {
  transform: none;
  transition: transform 160ms ease-out;
  will-change: transform;
}
.TarotGirl {
  transform-origin: bottom center;
}
.SpeechBubble {
  transform-origin: top left;
}
/* 모바일 */

@media (max-width: 413px) {
  .Explanation .TarotGirl {
    transform: scale(0.6) translateX(-150px);
    transform-origin: bottom center;
  }
  .Explanation .SpeechBubble {
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-55%, -90%) scale(0.5);
    transform-origin: center;
  }

  .Explanation .SpeechBubble::after {
    display: none;
  }
  .card_img {
    width: 90px;
    height: auto;
    left: 220px;
    top: 300px;
  }
  .Header {
    padding: 8px 12px;
  }
  .Header .section_logo .Logo {
    width: 22px;
    height: 22px;
  }
  .Header .section_logo p {
    font-size: 0.6rem;
  }
  .Header .section_menu ul {
    gap: 20px;
  }
  .Header .section_menu ul li {
    font-size: 0.6rem;
  }
  .Header .section_user button {
    font-size: 0.6rem;
    padding: 6px 10px;
  }
}

@media (min-width: 414px) and (max-width: 599px) {
  .Explanation .TarotGirl {
    transform: scale(0.6) translateX(-150px);
    transform-origin: bottom center;
  }
  .Explanation .SpeechBubble {
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-55%, -90%) scale(0.6);
    transform-origin: center;
  }

  .Explanation .SpeechBubble::after {
    display: none;
  }

  .card_img {
    width: 90px;
    height: auto;
    left: 220px;
    top: 500px;
  }
  .Header {
    padding: 8px 12px;
  }
  .Header .section_logo .Logo {
    width: 27px;
    height: 27px;
  }
  .Header .section_logo p {
    font-size: 0.8rem;
  }
  .Header .section_menu ul {
    gap: 20px;
  }
  .Header .section_menu ul li {
    font-size: 0.8rem;
  }
  .Header .section_user button {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}

/* 1024~1179px */
@media (min-width: 1024px) and (max-width: 1179px) {
  .TarotGirl {
    transform: scale(0.8);
  }
  .SpeechBubble {
    transform: scale(0.8);
  }

  .card_img {
    top: 240px;
    left: 350px;
  }
}

/* 1180~1365px */
@media (min-width: 1180px) and (max-width: 1365px) {
  .TarotGirl {
    transform: scale(0.9);
  }
  .SpeechBubble {
    transform: scale(0.9);
  }

  .card_img {
    top: 240px;
    left: 350px;
  }
}

/* 1366~1440px */
@media (min-width: 1366px) and (max-width: 1440px) {
  .TarotGirl {
    transform: scale(1);
  }
  .SpeechBubble {
    transform: scale(1);
  }

  .card_img {
    left: 380px;
    top: 390px;
  }
}

/* 1441~1599px (노트북 확장) */
@media (min-width: 1441px) and (max-width: 1599px) {
  .TarotGirl {
    transform: scale(1.2);
  }
  .SpeechBubble {
    transform: scale(1);
  }
}

/* 1600~1919px (큰 모니터) */
@media (min-width: 1600px) and (max-width: 1919px) {
  .TarotGirl {
    transform: scale(1.2);
  }
  .SpeechBubble {
    transform: scale(1.2);
  }
  .TarotCards .cards-container {
    transform: scale(1.2);
  }
}

/* 1920px+ (데스크탑) */
@media (min-width: 1920px) {
  .TarotGirl {
    transform: scale(1.4);
  }
  .SpeechBubble {
    transform: scale(1.4);
  }
  .card_img {
    width: 200px;
    height: auto;
    left: 450px;
  }

  .card_img.reversed {
    transform: rotate(180deg);
  }
}
