/* 기본값 */
.Home .TarotGirl,
.Home .SpeechBubble {
  transform: none;
  transition: transform 160ms ease-out;
  will-change: transform;
}
.Home .TarotGirl {
  transform-origin: bottom center;
}
.Home .SpeechBubble {
  transform-origin: top left;
}
/* 모바일 */

@media (max-width: 413px) {
  .Home .TarotGirl {
    transform: scale(0.6) translateX(200px);
    transform-origin: bottom center;
  }
  .Home .SpeechBubble {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
    transform-origin: center;
  }

  .Home .SpeechBubble::after {
    display: none;
  }

  .Home .Header {
    padding: 8px 12px;
  }
  .Home .Header .section_logo .Logo {
    width: 22px;
    height: 22px;
  }
  .Home .Header .section_logo p {
    font-size: 0.6rem;
  }
  .Home .Header .section_menu ul {
    gap: 20px;
  }
  .Home .Header .section_menu ul li {
    font-size: 0.6rem;
  }
  .Home .Header .section_user button {
    font-size: 0.6rem;
    padding: 6px 10px;
  }
}

@media (min-width: 414px) and (max-width: 599px) {
  .Home .TarotGirl {
    transform: scale(0.6) translateX(200px);
    transform-origin: bottom center;
  }
  .Home .SpeechBubble {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    transform-origin: center;
  }

  .Home .SpeechBubble::after {
    display: none;
  }

  .Home .Header {
    padding: 8px 12px;
  }
  .Home .Header .section_logo .Logo {
    width: 27px;
    height: 27px;
  }
  .Home .Header .section_logo p {
    font-size: 0.8rem;
  }
  .Home .Header .section_menu ul {
    gap: 20px;
  }
  .Home .Header .section_menu ul li {
    font-size: 0.8rem;
  }
  .Home .Header .section_user button {
    font-size: 0.8rem;
    padding: 6px 10px;
  }
}

/* 1024~1179px */
@media (min-width: 1024px) and (max-width: 1179px) {
  .Home .TarotGirl {
    transform: scale(0.8);
  }
  .Home .SpeechBubble {
    transform: scale(0.8);
  }
}

/* 1180~1365px */
@media (min-width: 1180px) and (max-width: 1365px) {
  .Home .TarotGirl {
    transform: scale(0.9);
  }
  .Home .SpeechBubble {
    transform: scale(0.9);
  }
}

/* 1366~1440px */
@media (min-width: 1366px) and (max-width: 1440px) {
  .Home .TarotGirl {
    transform: scale(1);
  }
  .Home .SpeechBubble {
    transform: scale(1);
  }
}

/* 1441~1599px (노트북 확장) */
@media (min-width: 1441px) and (max-width: 1599px) {
  .Home .TarotGirl {
    transform: scale(1.2);
  }
  .Home .SpeechBubble {
    transform: scale(1);
  }
}

/* 1600~1919px (큰 모니터) */
@media (min-width: 1600px) and (max-width: 1919px) {
  .Home .TarotGirl {
    transform: scale(1.2);
  }
  .Home .SpeechBubble {
    transform: scale(1.2);
  }
}

/* 1920px+ (데스크탑) */
@media (min-width: 1920px) {
  .Home .TarotGirl {
    transform: scale(1.4);
  }
  .Home .SpeechBubble {
    transform: scale(1.4);
  }
}
