.TarotGirl {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.TarotGirl1 {
  bottom: 0;
  right: -60px;
  width: 620px;
  height: auto;
}

.TarotGirl2 {
  bottom: -51px;
  right: -0px;
  width: 370px;
  height: auto;
}
.TarotGirl3 {
  bottom: -52px;
  left: -90px;
  width: 600px;
  height: auto;
}
